nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #dbeafe;
  padding: 15px;
  min-width: 768px;
  height: 10vh;
}

.slides-logo {
  width: 70px;
  margin-right: 30px;
}

.navbar-heading {
  color: #0f172a;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Bree Serif';
  padding: 0px;
  margin: 0px;
}
